<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
      <add name="primarySQL" connectionString="Data Source=192.168.130.22;Initial Catalog=SalesSystem;User ID=stephen;Password=passw0rd"/>
   </connectionStrings>
</configuration>